.carsPageContainer{
    width: 100vw;
    min-height: 100vh;
    margin-top: 5em ;
}

.contentContainer{
    width: 100%;
    padding:  5em 0em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    align-items: center;
}

.carSection{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.filter{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width:1000px) {
    .filter{
        width: 100%;
    }
}