.navContainer{
    max-width: 100vw;
    height: 5em;
    display: flex;
    align-items: center;
    padding: 0 2em;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.navBtns{
    display: flex;
    align-items: flex-end;
    gap: 1em;
}

/*---navlinks---*/

.navlinks{
display: none;
}

.navlinks ul{
    display: flex;
    align-items: center;
    gap: 1.5em;
}



.icon{
    font-size: 1.8em;
    cursor: pointer;
}

.switch{
    cursor: pointer;
}

/*---HAM---*/

.hamLinks{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 0.3em;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.link{
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.hide{
    display: none;
}

li:hover{
    color: #ace9ff;
}

/*---Responsive---*/

@media (min-width:600px) {
    .icon{
        display: none;
    }
    .navlinks{
        display: block;
    }
}

